@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root{
    //colors
    --Soft-Cyan : hsl(174, 77%, 80%); //Full Slider Bar
    --Strong-Cyan : hsl(174, 86%, 45%); //Slider Backround
    --Light-Grayish-Red : hsl(14, 92%, 95%); //Discount Background
    --Light-Red : hsl(15, 100%, 70%); //Discount Text
    --Pale-Blue : hsl(226, 100%, 87%); //CTA Text

    --White : hsl (0, 0%, 100%); //Pricing Component Background
    --Very-Pale-Blue : hsl(230, 100%, 99%); //Main Background
    --Light-Grayish-Blue-slider : hsl(224, 65%, 95%); //Empty Slider Bar
    --Light-Grayish-Blue-toggle : hsl(223, 50%, 87%); //Toggle Background
    --Grayish-Blue : hsl(225, 20%, 60%); //Text
    --Dark-Desaturated-Blue : hsl(227, 35%, 25%); //Text & CTA Background

    //font
    --font-family: 'Manrope', sans-serif; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--font-family);
}

body{
    background-color: var(--Very-Pale-Blue);
    width: 100vw;
    height: 100vh;
}
.center{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-image{
    position: absolute;
    width: 400px;
    height: 450px;
    border-bottom-left-radius: 174px;
    top: 0px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    height: 250px;
    width: 100vw;
}

.circle{
    position: absolute;
    height: 160px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2{
    color: var(--Dark-Desaturated-Blue);
    font-size: 21px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
}

.title p{
    color: var(--Grayish-Blue);
    font-size: 15px;
    text-align: center;
}

.container{
    background-color: White;
    width: 350px;
    height: 480px;
    border-radius: 13px;
    padding:  20px;
    margin-bottom: 30px;
    color: var(--Grayish-Blue);
    //shadow
    box-shadow: 0px 18px 36px 1px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0px 18px 36px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 18px 36px 1px rgba(0,0,0,0.28);

    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}
.price{
    font-weight: 700;
    font-size: 30px;
    color: var(--Dark-Desaturated-Blue);
}

.container h4{
    text-align: center;
    padding: 30px;
}


.slider-range{
    position: relative;
    top: -100px;
    width: 300px;
    height: 9px;
    background: linear-gradient( 90deg, var(--Soft-Cyan) 50%, var(--Light-Grayish-Blue-slider) 50%);
    outline: none;
    -webkit-appearance: none;
    border-radius: 25px;
    opacity: .8;
    transition: opacity 2s;
    // overflow: hidden;
    
    &:hover{
        opacity: 1;
    }
    
    &:focus::-webkit-slider-thumb::before{
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--Soft-Cyan);

        }

    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        background-color: var(--Strong-Cyan);
        background-image: url(../images/icon-slider.svg);
        background-position: center;
        background-repeat: no-repeat;
        outline: none;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        // box-shadow: -340px 0 0 .1px var(--Soft-Cyan);
        // box-shadow: -340px 0 0 315px var(--Soft-Cyan);

        // box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
        // -webkit-box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
        // -moz-box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
        

        &:before{
            width: 30px;
            height: 30px;
            background-color: var(--Strong-Cyan);
            background-image: url(../images/icon-slider.svg);
            background-position: center;
            background-repeat: no-repeat;
            // z-index: 999;
            position: absolute;
            border-radius: 50%;
            right: 0px;
            top: 10px;
            // box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
            // -webkit-box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
            // -moz-box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
        }
    }

    &::-moz-range-thumb{
        -webkit-appearance: none;
        background: var(--Strong-Cyan);
        background-image: url(../images/icon-slider.svg);
        background-position: center;
        background-repeat: no-repeat;
        outline: var(--Soft-Cyan);
        width: 30px;
        height: 30px;
        top: -10px;
        // position: relative;
        border-radius: 50px;
        box-shadow: 0px 10px 42px 4px var(--Strong-Cyan), inset 0 0 0 40px #1597ff;
        -webkit-box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
        -moz-box-shadow: 0px 10px 42px 4px var(--Strong-Cyan);
        
    }

   @media screen and (-webkit-min-device-pixel-ratio:0) {
       .slider-range{
            & {
				overflow: hidden;
				height: 10px;
				-webkit-appearance: none;
				background-color: #ddd;
			}
            &::-webkit-slider-runnable-track {
                height: 10px;
                -webkit-appearance: none;
                color: transparent;
                border-color: transparent;
                background-color: var(--Strong-Cyan);
                margin-top: -18px;
                transition: box-shadow 0.2s ease-in-out;
        
            }
            
			&::-webkit-slider-thumb {
				width: 80px;
				-webkit-appearance: none;
				height: 80px;
				cursor: ew-resize;
				background: #000;
				box-shadow: -340px 0 0 320px var(--Strong-Cyan);
				border-radius: 50%;
				transition: box-shadow 0.2s ease-in-out;
				position: relative;
				// top: 1px;
			}
			&:active::-webkit-slider-thumb {
				background: #fff;
				box-shadow: -340px 0 0 320px var(--Strong-Cyan), inset 0 0 0 3px var(--Strong-Cyan);
			}
		}
    }
    
    &::-moz-range-progress{
        -webkit-appearance: none;
        // content: "";
        // width: 40px;
        height: 10px;
        border-radius: 25px;
        background: var(--Soft-Cyan);
        // color: red;
    }
   
}

.billing{
    font-size: smaller;
}

.hr{
    border-bottom: 1px solid var(--Grayish-Blue);
    width: 100%;
    margin: 20px 0px;
}


.discount{
    display: none;
}

//toggle switch

.switch{
    display: inline-block;
    width: 52px;
    height: 26px;
    margin: 0 10px;

    input{
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: var(--Strong-Cyan);
        }
        &:focus + .slider{
            box-shadow: 0 0 1px var(--Strong-Cyan);
        }
        &:checked + .slider::before{
            transform: translateX(26px);
        }
    }

    .slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--Light-Grayish-Blue-toggle);
        transition: .4s;

        &::before{
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }
        
    }
    .slider.round{
        border-radius: 34px;

        &::before{
            border-radius: 50px;
        }
    }
}

.discount-25{
    padding: 2px 8px;
    font-size: x-small;
    color: var(--Light-Red);
    font-weight: 800;
    background-color: var(--Light-Grayish-Red);
    border-radius: 20px;
}

.trail-list{
    list-style-image: url(../images/icon-check.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;

    li{
        padding-left: 10px;
        font-size: small;
    }
}

.trail button {
    margin-top: 30px;
    width: 185px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--Dark-Desaturated-Blue);
    color: var(--Pale-Blue);
    font-weight: 800;

    &:hover{
        color: white;
    }
}




.attribution { font-size: 18px; text-align: center; }
.attribution a { 
    color:  var(--Pale-Blue);
    padding: 10px;
    text-decoration: none;

    &:hover{
        color: var(--Light-Red);
    }
}


@media only screen and (min-width: 500px) and (max-width: 600px){
    .center{
        width: 100vw;

        .bg-image{
            width: 100%;
        }
    }
}

@media only screen and (min-width: 600px) {

    .break{
        display: none;
    }
    .discount{
        display: block;
    }

    .center{
        width: 100vw;

        .bg-image{
            width: 100%;
        }
    }

    .container{
        width: 650px;
        height: 420px;
        
        .prices__pages{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        // .price__month{
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        // }
        .billing{
            margin-top: 40px;
            margin-bottom: 10px;
            width: 371px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
        }
    }
    .discount-25::after{
        content: " discount";
    }
    input[type=range]{
        width: 500px;
    }
    .trail{
        width: 100%;
        padding: 0 50px 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .trail-list{
            align-items: flex-start;
        }

    }

    .slider-range{
        top: 0px;
    }
}